<div>
    <!-- Calculate clock -->
    {% assign mins = play.quarter_seconds_remaining | divided_by: 60 %}
    {% assign secs = play.quarter_seconds_remaining | modulo: 60 %}
    {% assign padded_secs = secs | append: '' %}
    {% if padded_secs.size == 1 %}
        {% assign padded_secs = '0' | append: padded_secs %}
    {% endif %}
    {% assign clock = mins | append: ':' | append: padded_secs %}

    <!-- Determine home vs away -->
    {% if play.home_team == "PHI" %}
        {% assign birds_score = play.home_score %}
        {% assign opp_score = play.away_score %}
        {% assign birds_coach = play.home_coach %}
        {% assign opp_coach = play.away_coach %}
        {% assign birds_timeouts = play.home_timeouts_remaining %}
        {% assign opp_timeouts = play.away_timeouts_remaining %}
        {% assign birds_team = play.home_team %}
        {% assign opp_team = play.away_team %}
    {% else %}
        {% assign birds_score = play.away_score %}
        {% assign opp_score = play.home_score %}
        {% assign birds_coach = play.away_coach %}
        {% assign opp_coach = play.home_coach %}
        {% assign birds_timeouts = play.away_timeouts_remaining %}
        {% assign opp_timeouts = play.home_timeouts_remaining %}
        {% assign birds_team = play.away_team %}
        {% assign opp_team = play.home_team %}
    {% endif %}

    <!-- Determine who is winning -->
    {% if birds_score > opp_score %}
        {% assign birds_winning_status = "winning" %}
    {% elsif birds_score < opp_score %}
        {% assign birds_winning_status = "losing" %}
    {% else %}
        {% assign birds_winning_status = "tied" %}
    {% endif %}

    <!-- Determine score order -->
    {% if play.home_score > play.away_score %}
        {% assign high_score = play.home_score %}
        {% assign low_score = play.away_score %}
    {% else %}
        {% assign high_score = play.away_score %}
        {% assign low_score = play.home_score %}
    {% endif %}

    <div>{{play.down}} & {{play.ydstogo}} from the {{play.yrdln}} | Q{{ play.qtr }} {{ clock }} | Birds are {{birds_winning_status}} {{high_score}}-{{low_score}}</div>
    <div>Recomendation: {{play.model_recommendation}} | {{birds_coach}}: {{play.actual_decision}}</div>

    <table>
    <thead>
        <tr>
            <th></th>
            <th>Win%</th>
            <th>Success%</th>
            <th>Fail</th>
            <th>Succeed</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Go for it</td>
            <td>{{play.go_wp | times: 100 | round}}</td>
            <td>{{play.first_down_prob | times: 100 | round}}</td>
            <td>{{play.wp_fail | times: 100 | round}}</td>
            <td>{{play.wp_succeed | times: 100 | round}}</td>
        </tr>
        <tr>
            <td>Punt</td>
            <td>{{play.punt_wp | times: 100 | round}}</td>
            <td>NA</td>
            <td>NA</td>
            <td>NA</td>
        </tr>
        <tr>
            <td>Field goal</td>
            <td>{{play.fg_wp | times: 100 | round}}</td>
            <td>{{play.fg_prob | times: 100 | round}}</td>
            <td>{{play.miss_fg_wp | times: 100 | round}}</td>
            <td>{{play.make_fg_wp | times: 100 | round}}</td>
        </tr>
    </tbody>
    </table>

  <div>{{ play.desc }}</div>

</div>