<div class="tile-play">

    <div class="tile-play-status">
        <div>Q{{ play.qtr}} {{play.game_clock}} • {{play.down}}th & {{play.ydstogo}} at {{play.yrdln}}</div>
        <div>{{play.away_team}} {{play.total_away_score}} - {{play.home_team}} {{play.total_home_score}} </div>
        <div>Model: {{play.model_recommendation}}</div>
        <div>{{play.phi_coach}}: {{play.actual_decision_calculated}}</div>
    </div>

    <div class="tile-play-description">
        <div>{{play.desc}}</div>
    </div>

    <div class="tile-play-table">
        <table>
        <thead>
            <tr>
                <th></th>
                <th>Win%</th>
                <th>Success%</th>
                <th>Win% if Fail</th>
                <th>Win% if Succeed</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Go for it</td>
                <td>{{play.go_wp_pct}}</td>
                <td>{{play.first_down_prob_pct}}</td>
                <td>{{play.wp_fail_pct}}</td>
                <td>{{play.wp_succeed_pct}}</td>
            </tr>
            <tr>
                <td>Punt</td>
                <td>{{play.punt_wp_pct}}</td>
                <td>NA</td>
                <td>NA</td>
                <td>NA</td>
            </tr>
            <tr>
                <td>Field goal</td>
                <td>{{play.fg_wp_pct}}</td>
                <td>{{play.fg_prob_calculated_pct}}</td>
                <td>{{play.miss_fg_wp_pct}}</td>
                <td>{{play.make_fg_wp_pct}}</td>
            </tr>
        </tbody>
        </table>
    </div>

</div>