<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/style.css">
  <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>
<body class="{{ page.layout }}">
  <div class="nav-container">
    <div class="topnav">
      <a href="{{ site.baseurl }}/" {% if page.url == "/" %}class="active"{% endif %}>Seasons</a>
      <a href="{{ site.baseurl }}/live.html" {% if page.url == "/live.html" %}class="active"{% endif %}>Live</a>
    </div>
  </div>
  <main>
    {{ content }}
  </main>
</body>
</html>