---
layout: default
---

{% assign season_key        = page.season | append: '' %}
{% assign game_key          = page.game_id | append: '' %}
{% assign all_plays         = site.data.pbp[season_key][game_key] %}
{% assign plays             = all_plays | where_exp: "p", "p.defteam != 'PHI'" %}
{% assign fourth_down_plays = plays | where: "down", 4 %}


<h1>{{ page.title }}</h1>

<ul class="tile-list full">
  {% for play in fourth_down_plays %}
    <li>{% include tile-play.html play=play %}</li>
  {% endfor %}
</ul>